{% set apache = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'apache2',
        'etc': { 
            'dir': '/etc/apache2',
            'site': '/etc/apache2/sites-available'
            }
        },
    'RedHat': {
        'pkg': 'httpd',
        'etc': { 
            'dir': '/etc/httpd',
            'site': '/etc/httpd/conf.d',
            }
        },
}, default='Debian') %}
