{% set imagemagick = salt['grains.filter_by']({
    'Debian': {'pkg': 'imagemagick'},
    'RedHat': {'pkg': 'ImageMagick'},
}, default='Debian') %}

{% set tomcat = salt['grains.filter_by']({
    'Debian': {'lib': '/usr/share/tomcat7/lib'},
    'RedHat': {'lib': '/var/lib/tomcat7/lib'},
}, default='Debian') %}